.headline{
    display: flex;
    padding: 25px;
    margin-top: 10rem;
    margin-left: 10rem;
    color:  #97DECE;
  }
  .line{
    background-color: gray;
    height: 2px;
    width: 20rem;
    margin: 30px;
  }
  
.slider{
  overflow: hidden;
  padding-bottom: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  
}
.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img{
  width: 20%;
  height: 20%;
  float: left;
}
@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left:  -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}
.icon{
  display: flex;
  justify-content: space-between;
  color: #97DECE;
}
.main{
  border: 1px solid white;
  width: 20rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 25px;
  cursor: pointer;
}
.main h3{
  font-size: 30px;
  color:  #97DECE;
}
.main p{
  font-size: 17px;
  color: skyblue;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 0px;
  gap: 20px;
  padding-left: 140px;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  color: gray;
}


@media screen and (orientation:portrait) {
  .slider{
    display: none;
  }
  .grid{
    grid-template-columns: auto;
    padding-left: 50px;
  }
  .headline{
    margin-left: 20px;
  }
  .footer p{
    text-align: center;
  }
}